<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Wibellule Admin - Welcome !{% endblock %}</title>
    {{ include('WibelluleCoreBundle:Default:stylesheets.html.twig') }}
</head>
<body id="top" class="scrollspy">
Admin Test

{% block body %}{% endblock %}
</body>

</html>