<li class="mm-profile sub-menu">
    <a href="" data-ma-action="submenu-toggle" class="media">
        <img class="pull-left mCS_img_loaded" src="img/profile-pics/1.jpg" alt="">
        <div class="media-body">{{ app.user.username }}<small>{{ app.user.email }}</small></div>
    </a>
    <ul>
        <li>
            <a href="profile-about.html">View Profile</a>
        </li>
        <li>
            <a href="">Privacy Settings</a>
        </li>
        <li>
            <a href="">Settings</a>
        </li>
        <li>
            <a href="">Logout</a>
        </li>
    </ul>
</li>